
.charm {
border: 1px solid;
    display: inline-block;
    font-size: 11px;
    padding: 5px;
    width: 200px;
}
.banner{
	background: none repeat scroll 0 0 #CCC;
    padding: 5px;
}
.activities{
	
}
.prize-box{
	
}
